/* referensi warna: 436850, adbc9f, 12372a, #fbfada  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
    

}


body {
    
    font-family: sans-serif;
    background-color: black;
}


h1,h2,h3,h4,h5,h6, strong,p {
    color:#fbfada ;
}
p {
    font-size: 1rem ; /* 1 rem adalah 16px */ 
    line-height: 1.9rem ;
}

span, label, textarea, li {
    color:#09f1fd
}

a {
    text-decoration: none;
}
.luar {
width: 1200px;
margin: 0 auto;
}

@media screen and (max-width: 1200px) {
 .luar {
    width: 90%;
 }
    
}

/* logo dan nav */
.navigasi {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    margin-left: -50px;
}

.navigasi ul {
    list-style: none;
    display: flex;
    gap: 3rem;
    
}
#logout{

}

.logo {
    display: flex;
    align-items: center;
}
.logo img {
    height: 40px;
    margin-left: 2rem;
}
.navigasi ul li {
    display: flex;
    align-items: center;
    margin-right:30px ;
}
.navigasi ul li a { 
    color:#fbfada;
}
.navigasi ul li a:hover { 
    color:#09f1fd;
    transition: all 0.8s ease;
}


/* isi */ 
.judul {
    text-transform:uppercase ;
    letter-spacing: .5rem ;
    position: relative;
    padding-left: 40px;
    width: fit-content;
    font-weight: 400;
    font-size: .9rem ;
    color: #09f1fd;
    
    
    
}

.isi{
height: 720px;
display: grid;
grid-template-columns: 1fr 1fr  ;
align-items: center;
margin-top: -50px ;
background-color: black;



}

.nama {
    font-size: 2.2rem;
    font-weight: 700;
    margin:0.5rem 0 1rem ;
}
.isi-kiri{
    margin-left: 50px;
    width: 600px;
}
.isi-kanan{
    margin-left: 50px;
    display: flex;
    justify-content: center;
    margin-top: -50px;
     
}

#g {
    height: 375px;
    width: 50%;
    margin-top: -50px;
    border-radius: 50px;
    filter: drop-shadow(10px 10px 15px #09f1fd);
    animation: animasiGambar 4s infinite alternate;
}

@keyframes animasiGambar{
    0% {
        transform: translateY(0);
      }
      30% {
        transform: translateY(10px); 
      }
}







/* shop*/
#section2{
    padding-top: 10px;
    height: 100vh;
}

.shop{
    background-color: black;
}
#l_toko{
    width: auto; 
    height: 50px;
    border-radius: 50px ;
    margin-left: -100px;

}
.atas{
   width: auto;
    height: 250px;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
}
.bagianatas{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.cari{
    margin-right: -150px;
}
.search-form {
    margin: 10px, 30px, 30px, 100000px ; 
    max-width: 400px;
    text-align: center;
    margin-right: -30px;

}
    
.search-input {
    width: 70%;
    padding: 10px;
    border: 1px solid rgb(247, 239, 239);
    border-radius: 5px;
    font-size: 16px;
    margin-left: -50px;
    background-color: black;
}
.search-button {
    padding: 10px 20px;
    background-color: #fff ;
    color: black ;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.search-button:hover {
    background-color: #09f1fd;
}
/* tengah */
.tengah {
    height: auto;
    border-radius: 15px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin-top: -100px;

}
#k1, #k2, #k3, #k4, #k5 {
    height: 300px;
    background-color: black;
    text-align: center;
    padding-top: 50px;
    border-radius: 8px;
    margin-left: 30px ; 
    border: 3px solid  #09f1fd;
    width: 90%; 
    max-width: 500px;
    
}




#section1, #section2, #section3, #section4, #section5 {
    height: 100vh;
}

/*section3*/

.judulCv{
    background-color: orange;
    color: whitesmoke;
    width: 50%;
    margin-left: 25%;
    padding-left: 175px;
    border-radius: 3px;
}
.cv{
    height: 90vh;
    width: 49%;
    margin-left: 25.5%;
    box-shadow: 0 0 1px 3px orange ;
    border-radius: 3px;
}

/* section4*/ 
.khsj{
    background-color: #09f1fd;
    width: 125%;
    height: 5%;
    margin-top: 2%;
    margin-left: -150px;
}
.khs{
    margin-left: -150px;
    height: 90vh;
    width: 50%;
    
}

/* section5*/
#b1{
    background-color: chocolate;
    color: aliceblue;
    margin-left: -150px;
    width: 50%;
}
.hsami{
    width: 20%;
    margin-left: -150px;


}
